<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="preview7" value="https://dotnetfeed.blob.core.windows.net/dotnet-core-preview7-012802/index.json" />
    <add key="dotnet-core" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
  </packageSources>
</configuration>
